# --- Seguridad y Credenciales (CRÍTICO) ---
# Nunca subas tus llaves JSON de Google Cloud
*.json
# Archivos de variables de entorno
.env
auth_codes/

# --- Python basura técnica ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/

# --- Google Cloud y Docker locales ---
.gcloud/
.docker/
*.log

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db

# Bloquear cualquier intento de subir archivos de entorno locales
.env
auth_info.json
*.credentials
