# --- Operación y Servidor ---
flask
gunicorn
requests

# --- Conexión con Amazon SP-API ---
python-amazon-sp-api

# --- Infraestructura Google Cloud (Iowa) ---
google-cloud-bigquery
google-cloud-storage
google-cloud-logging

# --- Procesamiento de Datos ---
pandas
